<nav class="navbar navbar-default" *ngIf="userLoggedIn">
  <div class="container">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">{{title}}</a>
    <ul class="nav navbar-nav">
      <li class="nav-item"><a class="nav-link" routerLink="/medicines" routerLinkActive="active">Leki</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/medicineItem" routerLinkActive="active">Stan magazynów</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/workers" routerLinkActive="active">Pracownicy</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/pharmacies" routerLinkActive="active">Apteki</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/statistics" routerLinkActive="active">Statystyki</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item"><a class="nav-link" (click)="logout()" href="">Wyloguj</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
