<div class="container">
  <h2>Modyfikacja leku</h2>
  <form (ngSubmit)="onSubmit()" #modifyMedicineForm="ngForm">
    <div class="form-group">
      <label for="name">Nazwa:</label>
      <input class="form-control" id="name" name="name" [(ngModel)]="medicine.name" required />
    </div>
    <div class="form-group">
      <label for="price">Cena: </label>
      <input class="form-control" id="price" name="price" [(ngModel)]="medicine.price" required />
    </div>
    <div class="form-group">
      <label for="size">Rozmiar: </label>
      <input class="form-control" id="size" name="size" [(ngModel)]="medicine.size" required />
    </div>
    <div class="form-group">
      <label for="ingredients">Składniki: </label>
      <input class="form-control" id="ingredients" name="ingredients" [(ngModel)]="medicine.ingredients" />
    </div>
    <div class="form-group">
      <label for="usage">Użycie: </label>
      <input class="form-control" id="usage" name="usage" [(ngModel)]="medicine.usage" />
    </div>
    <div class="form-group">
      <label for="contraindications">Przeciwwskazania: </label>
      <input class="form-control" id="contraindications" name="contraindications" [(ngModel)]="medicine.contraindications" />
    </div>
    <div class="form-group">
      <label for="prescription-required">Wymagana recepta: </label>
      <select class="form-control" id="prescription-required" name="prescription-required" [(ngModel)]="medicine.prescriptionRequired" required>
        <option [value]=true>Tak</option>
        <option [value]=false>Nie</option>
      </select>
    </div>
    <div *ngIf="modified" class="alert alert-success">Lek został zmodyfikowany</div>
    <div *ngIf="error" class="alert alert-danger">Błąd podczas modyfikacji leku</div>
    <button class="btn btn-success" (click)="modify()">Modyfikuj</button>
    <button class="btn btn-default" (click)="goBack()">Powrot</button>
  </form>

</div>
