<h2>Leki</h2>
<div class="panel panel-default">
  <div class="panel-heading">Wszystkie leki:</div>
  <table class="table">
    <tr>
      <td><strong>#</strong></td>
      <td><strong>Nazwa</strong></td>
      <td><strong>Cena</strong></td>
      <td><strong>Wymaga recepty</strong></td>
    </tr>
    <tr *ngFor="let medicine of medicines">
      <td><strong>{{medicine.id}}</strong></td>
      <td>{{medicine.name}}</td>
      <td>{{medicine.price}}</td>
      <td>{{medicine.prescriptionRequired ? "Tak" : "Nie"}}</td>
  </table>
</div>
<div>
  <li class="nav-item"><a class="nav-link" routerLink="/medicine/add" routerLinkActive="active">Dodaj lek</a></li>
</div>

